<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="carpetaSource" value="C:\archivosJ\aqui\" />
    <add key="carpetaDestino" value="C:\archivosJ\paca\" />

  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="folioFilesSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://todopromocional.com/siteadmin/folioFiles.asmx"
                binding="basicHttpBinding" bindingConfiguration="folioFilesSoap"
                contract="folioFilesSR.folioFilesSoap" name="folioFilesSoap" />
        </client>
    </system.serviceModel>
</configuration>